body {
    font-family: roboto, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 16px;
}

img {
    height: 100px;
    width: 100px;
}

a {
    text-decoration: none;
}

/* Button and volunteer declarations */
.button-1, .button-2, .volunteer-section {
    background-color: #3882F6;
    color: #F9FAF8;
}


/* Header and introduction section*/
.intro-title, .logo {
    color: #F9FAF8;
}

.intro-text, a {
    font-size: 18px;
    color: #E5E7EB;
}

.intro, .container {
    flex: 1;
    padding: 30px;
}

.intro {
    display: flex;
    align-items: flex-start;
}

.intro-content {
    background-color: #1F2937;
    padding: 8px 100px;
}

.header {
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.logo {
    font-size: 24px;
    margin-left: 55px;
    
}

.intro-title {
    font-size: 48px;
    font-weight: 900;
    display: flex;
    align-items: flex-start;
}

.intro-text {
    margin-bottom: 16px;
    align-items: flex-start;
    text-align: left;
    display: flex;
    width: 500px;
}


.button-1 {
    display: flex;
    border-radius: 12px;
    border-style: none;
    padding: 10px 30px;
    font-weight: 900;

}

.intro-image {
    text-align: right;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0;
    padding: 0;
}

.alter-intro-image {
    height: 200px;
    width: 300px;
}

/* Main content*/
/* Section 1 content*/
.section-1-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 16px;
    margin-bottom: 32px;
}

.logo-image.left {
    display: flex;
    justify-content: flex-start;
}

.logo-image.right {
    display: flex;

}

.alter-logo-img {
    height: 300px;
    width: 50px;
}

.alter-images {
    display: flex;
    justify-content: space-around;
    flex-grow: 0;
    flex-shrink: 1;
    gap: 16px;
}

.image-anchor {
    color: black;
    text-decoration: underline;
}

.image-content {
    max-width: 200px;
}

.border-img {
    border: 5px solid #1F2937;
    border-radius: 5px;
}


.image-text {
    display: flex;
    margin-bottom: 50px;
    text-align: justify;  
}

/* Section 2 content */
#section-2 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px;
    margin-bottom: 32px;
}

.quotes {
    padding: 0px 150px;
    margin: 0px 50px;
}

.quote {
    font-style: italic;
    font-weight: light;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 8px;
    text-align: left;
}

.quote-name {
    font-weight: 900;
    font-size: 24px;
    color: #1F2937;
    text-align: right;
    margin-right: 100px;
}

 /* section 3 content*/
#section-3 {
    padding: 100px;
}

.volunteer-section {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 50px 100px;
    gap: 80px;
}

.volunteer-title {
    font-size: 24px;
    font-weight: 900;
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 8px;
}

.volunteer-text {
    display: flex;
    align-items: flex-start;
    text-align: justify;
    width: 600px;
}

.button-2 {
    border-color: #F9FAF8;
    border-radius: 12px;
    padding: 10px 30px;
    font-weight: 900;
    margin-top: 20px;
}



/* footer */
#footer {
    background-color: #1F2937;
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 40px 100px;
}
